################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp1/.vs/WinFormsApp1
/WinFormsApp1/obj
/WinFormsApp1/.vs/ProjectEvaluation
/WinFormsApp1/bin/Debug/net8.0-windows
